[settings]
experimental = true

[tools]
bat = "latest"
btop = "latest"
delta = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
jq = "latest"
ripgrep = "latest"
sd = "latest"
1password-cli = "latest"

# javascript
bun = "latest"
node = "lts"

# kube
kubectl = "latest"
k9s = "latest"
kubecolor = "latest"

# ai bits
claude-code = "latest"
gemini-cli = "latest"
opencode = "latest"
