[settings]
experimental = true

[tools]
bat = "latest"
delta = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
jq = "latest"
ripgrep = "latest"
sd = "latest"
1password-cli = "latest"

# javascript
bun = "latest"
node = "lts"

# kube
kubectl = "latest"
helm = "latest"
k9s = "latest"
kubecolor = "latest"
kubectx = "latest"
kubens = "latest"
krew = "latest"

{{- if eq .chezmoi.os "linux" -}}
# linux only
btop = "latest"
{{- end }}
