apiVersion: cilium.io/v2alpha1
kind: CiliumPodIPPool
metadata:
  name: default
spec:
  ipv4:
    cidrs:
      - ${CILIUM_POD_CIDR}
    maskSize: 24
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: offsite
spec:
  blocks:
    - cidr: ${LB_RANGE}
  serviceSelector:
    # give all load balancers and gateways an IP from the blocks above
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: arp-spoofing
spec:
  serviceSelector:
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
  nodeSelector:
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
  interfaces:
    # Matches el classico ethernet device names like 'eth0'
    - ^eth[0-9]+$
    # Matches on-board devices like 'eno1'
    - ^eno[0-9]+$
    # Matches PCI slot-based names like 'enp0s31f6'
    # This matches 'enp' + (digit) + 's' + (digit) + optional('f' + digit)
    - ^enp[0-9]+s[0-9]+(f[0-9]+)?$
    # Matches MAC address-based names like 'enxace2d30d9066'
    # This matches 'enx' + (12 lowercase hex characters)
    - ^enx[0-9a-f]{12}$
  externalIPs: false
  loadBalancerIPs: true