apiVersion: cilium.io/v2alpha1
kind: CiliumPodIPPool
metadata:
  name: default
spec:
  ipv4:
    cidrs:
      - ${CILIUM_POD_CIDR}
    maskSize: 24
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: offsite
spec:
  blocks:
    - cidr: ${LB_RANGE}
  serviceSelector:
    # give all load balancers and gateways an IP from the blocks above
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: arp-spoofing
spec:
  serviceSelector:
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
  nodeSelector:
    matchExpressions:
      - { key: debug, operator: NotIn, values: [lol] }
  interfaces:
  - ^eno[0-9]+$
  - ^enp[0-9]+$
  - ^tailscale0$
  externalIPs: false
  loadBalancerIPs: true