[Unit]
Description=Start the asterisk container
PartOf=cloudlab.service
After=cloudlab.service

[Service]
Type=simple
Environment="HOME=/var/bullseye"
ExecStartPre=/sbin/iptables -w -A INPUT -p udp -m udp --dport 5060 -j ACCEPT -m comment --comment "asterisk SIP UDP"
ExecStartPre=/sbin/iptables -w -A INPUT -p udp -m udp --dport 5061 -j ACCEPT -m comment --comment "asterisk SIP UDP"
ExecStartPre=/sbin/iptables -w -A INPUT -p tcp -m tcp --dport 5060 -j ACCEPT -m comment --comment "asterisk SIP TCP"
ExecStartPre=/sbin/iptables -w -A INPUT -p tcp -m tcp --dport 5061 -j ACCEPT -m comment --comment "asterisk SIP TCP"
ExecStartPre=/sbin/iptables -w -A INPUT -p udp -m udp --dport 16384:16394 -j ACCEPT -m comment --comment "asterisk RTP"
ExecStartPre=/sbin/iptables -w -A INPUT -p udp -m udp --dport 4569 -j ACCEPT -m comment --comment "asterisk IAX2"
# ExecStartPre=/sbin/iptables -w -A INPUT -p tcp -m tcp --dport 5038 -j ACCEPT -m comment --comment "asterisk AMI"
ExecStart=/usr/bin/docker run --rm --runtime=runsc-hostnetwork --name=asterisk --network=host gcr.io/trusted-builds/asterisk:alpine
ExecStop=/usr/bin/docker stop asterisk

[Install]
WantedBy=cloudlab.service
