---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prom-stack
  namespace: monitoring
spec:
  interval: 24h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.10.0
      sourceRef:
        kind: HelmRepository
        name: prometheus
        namespace: flux-system
      interval: 24h
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    defaultRules:
      rules:
        etcd: false
        kubeControllerManager: false
        kubeProxy: false
        kubeSchedulerAlerting: false
    kubelet.enabled: false
    kubeControllerManager.enabled: false
    kubeEtcd.enabled: false
    kubeScheduler.enabled: false
    coreDns:
      service:
        port: 10055
        targetPort: 10055
    cleanPrometheusOperatorObjectNames: true
    prometheus:
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
          hajimari.io/appName: "Prometheus"
          hajimari.io/group: "Monitoring"
          hajimari.io/icon: torch
        hosts:
          - &prom prom.${SECRET_DOMAIN}
        tls:
          - secretName: *prom
            hosts:
              - *prom
        pathType: Prefix
      prometheusSpec:
        retention: 90d
        additionalScrapeConfigs:
          - job_name: node-exporter
            scrape_interval: 30s
            scrape_timeout: 30s
            metrics_path: /metrics
            scheme: http
            static_configs:
              - targets:
                - cloudpi4.${SECRET_DOMAIN}:9100
                - homepi4-wifi.${SECRET_DOMAIN}:9100
                - radiopi0.${SECRET_DOMAIN}:9100
                # - blinkypi0.${SECRET_DOMAIN}:9100
                - tallboy.${SECRET_DOMAIN}:9182
            relabel_configs:
              - source_labels: [__address__]
                regex: '(.+)\.(.+):(.+)'
                replacement: '$1'
                target_label: instance
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: local-path
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 75Gi
    grafana:
      admin:
        existingSecret: grafana-admin-user
        userKey: user
        passwordKey: password
      grafana.ini:
        feature_toggles:
          publicDashboards: true
      plugins:
        - grafana-mqtt-datasource
      deleteDatasources:
        - name: Loki
          orgId: 1
      additionalDataSources:
        - name: Loki
          type: loki
          isDefault: false
          access: proxy
          url: https://loki.${SECRET_DOMAIN}
          orgId: 1
          version: 1
          jsonData:
            httpHeaderName1: "X-Scope-OrgID"
          secureJsonData:
            httpHeaderValue1: "1"
        - name: FlameBoss
          type: grafana-mqtt-datasource
          orgId: 1
          version: 1
          jsonData:
            tlsSkipVerify: true
            uri: tls://s4.myflameboss.com:8883
            username: ${SECRET_FLAMEBOSS_USERNAME}
          secureJsonData:
            password: ${SECRET_FLAMEBOSS_PASSWORD}
      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "default"
              orgId: 1
              folder: ""
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
      downloadDashboardsImage:
        repository: jonpulsifer/bashcurljq
        tag: latest
      # https://github.com/grafana/helm-charts/pull/3698
      initChownData:
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: false
          runAsUser: 0
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            add: ["CHOWN", "DAC_READ_SEARCH"]
      dashboards:
        default:
          client-dpi:
            gnetId: 11310
            revision: 5
            datasource: Prometheus
          network-sites:
            gnetId: 11311
            revision: 5
            datasource: Prometheus
          usw-insights:
            gnetId: 11312
            revision: 9
            datasource: Prometheus
          usg-insights:
            gnetId: 11313
            revision: 9
            datasource: Prometheus
          uap-insights:
            gnetId: 11314
            revision: 10
            datasource: Prometheus
          client-insights:
            gnetId: 11315
            revision: 9
            datasource: Prometheus
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
          hajimari.io/appName: "Grafana"
          hajimari.io/group: "Monitoring"
          hajimari.io/icon: chart-line
        hosts:
          - &grafana grafana.${SECRET_DOMAIN}
        tls:
          - secretName: *grafana
            hosts:
              - *grafana
        pathType: Prefix
      persistence:
        enabled: true
        storageClassName: local-path
        size: 1Gi
    alertmanager:
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
          hajimari.io/appName: "Alert Manager"
          hajimari.io/group: "Monitoring"
          hajimari.io/icon: alert-circle
        hosts:
          - &am am.${SECRET_DOMAIN}
        tls:
          - secretName: *am
            hosts:
              - *am
        pathType: Prefix
    prometheus-node-exporter:
      prometheus:
        monitor:
          relabelings:
            - action: replace
              sourceLabels: [__meta_kubernetes_endpoint_node_name]
              targetLabel: instance
