[Unit]
Description=Blink the radio
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/radio

[Install]
WantedBy=multi-user.target
