---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
  namespace: open-webui
spec:
  interval: 24h
  chart:
    spec:
      chart: open-webui
      version: 11.0.0
      sourceRef:
        kind: HelmRepository
        name: open-webui
        namespace: flux-system
  values:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
      host: &host "open-webui.${SECRET_DOMAIN}"
      tls: true
      existingSecret: *host