---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
annotations:
  configmap.reloader.stakater.com/reload: cloudflared
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflared
      app.kubernetes.io/part-of: cloudflared
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloudflared
        app.kubernetes.io/part-of: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:2025.11.1
        args:
        - tunnel
        - --metrics
        - 0.0.0.0:2000
        - run
        - --token-file
        - /etc/cloudflared/token
        env:
        - name: TUNNEL_TRANSPORT_PROTOCOL
          value: http2
        livenessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
        volumeMounts:
          - name: tunnel-token
            mountPath: /etc/cloudflared/token
            subPath: token
            readOnly: true
      volumes:
      - name: tunnel-token
        secret:
          secretName: cloudflared
