{{ define "main" }}
  <main>
    <article>
      <header class="article-header">
	<h1 class="title">{{ .Title }}</h1>
	{{ partial "post-meta" . }}
      </header>
      {{ if and (.Params.toc) (gt .WordCount 400) }}
        {{ with .TableOfContents }}
        <div class="toc">
	  <h3>Table of Contents</h3>
	  {{ . }}
        </div>
	{{ end }}
      {{ end }}
      <div>
	{{ .Content }}
      </div>
      {{ with .Params.tags }}
      <div>
	<ul id="tags">
	  {{ range . }}
	    <li><a href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ . }}</a></li>
	  {{ end }}
	</ul>
      </div>
      {{ end }}
    </article>
  </main>
{{ end }}
