<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="themecolor" content="#141419">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .IsHome }}
  <title>{{ .Site.Title }}</title>
  {{- else }}
  <title>{{ print .Site.Title }} &#8605; {{ print .Title }}</title>
  {{- end }}

  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
  <meta name="application-name" content="{{ .Site.Title }}">
  <meta name="msapplication-TileColor" content="#a9a9fd">
  <meta name="theme-color" content="#a9a9bd">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
  <link rel="icon" href="{{ "favicon.ico" | relURL }}">
  <link rel="manifest" href="{{ "manifest.webmanifest" | relURL }}">
  {{- $css := resources.Match "css/*.css" | resources.Concat "style.css" | minify | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
