<div class="meta">
  <span class="date" title="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</span>
  <span class="colored-separator">&#8277;</span>
  <span class="reading-time">{{ .ReadingTime }} minute read</span>
  {{ if .Params.ShowAuthor }}
    {{ with .Params.Author }}
      <span class="colored-separator">&#8277;</span>
      <span class="author">{{ . }}</span>
    {{ end }}
  {{ end }}
  {{ if .Params.ShowModified }}
    {{ with .Page.Lastmod }}
      <span class="colored-separator">&#8277;</span>
      <span class="date-modified" title="{{ . }}">Last modified {{ .Format "January 2, 2006" }}</span>
    {{ end }}
  {{ end }}
</div>
