{{ with .Site.Params.social }}
<nav class="mt-10 font-mono text-sm" aria-label="social links">
  <ul class="flex flex-wrap items-center justify-center gap-y-2">
    {{- $links := slice }}
    {{- with .github }}{{ $links = $links | append (dict "name" "github" "url" (printf "https://github.com/%s" .)) }}{{ end }}
    {{- with .linkedin }}{{ $links = $links | append (dict "name" "linkedin" "url" (printf "https://linkedin.com/in/%s" .)) }}{{ end }}
    {{- with .instagram }}{{ $links = $links | append (dict "name" "instagram" "url" (printf "https://instagr.am/%s" .)) }}{{ end }}
    {{- with .steam }}{{ $links = $links | append (dict "name" "steam" "url" (printf "https://steamcommunity.com/id/%s" .)) }}{{ end }}
    {{- with .twitter }}{{ $links = $links | append (dict "name" "twitter" "url" (printf "https://twitter.com/%s" .)) }}{{ end }}
    {{- range $links }}
    <li class="flex items-center">
      <span class="text-zinc-700 select-none" aria-hidden="true">|</span>
      <a href="{{ .url }}" target="_blank" rel="noopener" class="px-3 text-zinc-400 transition-colors hover:text-ember">{{ .name }}</a>
    </li>
    {{- end }}
    <li><span class="text-zinc-700 select-none" aria-hidden="true">|</span></li>
  </ul>
</nav>
{{ end }}
