---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: atlantis
  namespace: atlantis
spec:
  chart:
    spec:
      chart: atlantis
      version: 5.20.2
      sourceRef:
        kind: HelmRepository
        name: atlantis
        namespace: flux-system
  values:
    orgAllowlist: github.com/jonpulsifer/*
    environment:
      ATLANTIS_WRITE_GIT_CREDS: "true"
    environmentSecrets:
      - name: ATLANTIS_GH_APP_ID
        secretKeyRef:
          name: atlantis-github
          key: github_app_id
      - name: ATLANTIS_GH_APP_SLUG
        secretKeyRef:
          name: atlantis-github
          key: github_app_slug
      - name: ATLANTIS_GH_APP_KEY
        secretKeyRef:
          name: atlantis-github
          key: github_app_private_key
    repoConfig: |
      ---
      repos:
      - id: /^github.com/jonpulsifer/.*$/
        branch: /^main$/
        apply_requirements: []
        workflow: default
        allowed_overrides: []
        allow_custom_workflows: false
      workflows:
        default:
          plan:
            steps: [init, plan]
          apply:
            steps: [apply]
    hidePrevPlanComments: true
    hideUnchangedPlanComments: true
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
        hajimari.io/enable: "true"
        hajimari.io/icon: "robot-industrial-outline"
      host: &host "atlantis.${SECRET_DOMAIN}"
      pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: *host
    servicemonitor:
      enabled: true
