---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: atlantis
  namespace: atlantis
spec:
  chart:
    spec:
      chart: atlantis
      version: 5.20.2
      sourceRef:
        kind: HelmRepository
        name: atlantis
        namespace: flux-system
  values:
    image:
      repository: jonpulsifer/atlantis
      tag: latest
    orgAllowlist: github.com/jonpulsifer/*
    environment:
      ATLANTIS_EMOJI_REACTION: "eyes"
      ATLANTIS_ENABLE_DIFF_MARKDOWN_FORMAT: "true"
      ATLANTIS_ENABLE_POLICY_CHECKS: "true"
      ATLANTIS_FAIL_ON_PRE_WORKFLOW_HOOK_ERROR: "true"
      ATLANTIS_WRITE_GIT_CREDS: "true"
      GOOGLE_APPLICATION_CREDENTIALS: "/run/secrets/terraform.json"
    environmentSecrets:
      - name: ATLANTIS_GH_APP_ID
        secretKeyRef:
          name: atlantis-github
          key: github_app_id
      - name: ATLANTIS_GH_APP_SLUG
        secretKeyRef:
          name: atlantis-github
          key: github_app_slug
      - name: ATLANTIS_GH_APP_KEY
        secretKeyRef:
          name: atlantis-github
          key: github_app_private_key
      - name: OP_SERVICE_ACCOUNT_TOKEN
        secretKeyRef:
          name: atlantis-github
          key: op_service_account
    repoConfig: |
      ---
      repos:
      - id: /^github.com/jonpulsifer/.*$/
        branch: /^main$/
        apply_requirements: []
        workflow: default
        allowed_overrides: []
        allow_custom_workflows: false
        pre_workflow_hooks:
          - run: /home/atlantis/plan-hook.sh
            description: Plan Hook
            commands: plan
      workflows:
        default:
          plan:
            steps: [init, plan]
          apply:
            steps: [apply]
          policy_check:
            steps:
              - show
              - policy_check:
                  extra_args: ["-p /home/atlantis/policies/"]
      policies:
        owners:
          users:
            - jonpulsifer
        policy_sets:
          - name: Super Duper Policy Set
            path: /home/atlantis/policies/
            source: local
    hidePrevPlanComments: true
    hideUnchangedPlanComments: true
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
        hajimari.io/enable: "true"
        hajimari.io/icon: "robot-industrial-outline"
      host: &host "atlantis.${SECRET_DOMAIN}"
      path: /
      pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: *host
    servicemonitor:
      enabled: false
    extraVolumes:
      - name: policies
        configMap:
          name: policies
      - name: plan-hook
        configMap:
          name: plan-hook
          defaultMode: 0777
      - name: terraform-gsa
        secret:
          secretName: atlantis-github
    extraVolumeMounts:
      - name: policies
        mountPath: /home/atlantis/policies/
        readOnly: true
      - name: plan-hook
        mountPath: /home/atlantis/plan-hook.sh
        subPath: plan-hook.sh
        readOnly: true
      - name: terraform-gsa
        mountPath: /run/secrets/terraform.json
        subPath: terraform.json
        readOnly: true
    readinessProbe:
      periodSeconds: 10