---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: apps
  namespace: flux-system
spec:
  interval: 1h0m0s
  path: ./k8s/apps/offsite
  prune: true
  sourceRef:
    kind: GitRepository
    name: infra
  # dependsOn:
  #   - name: monitoring
