---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: networking
  namespace: flux-system
spec:
  interval: 1h0m0s
  path: ./k8s/clusters/offsite/networking
  prune: true
  sourceRef:
    kind: GitRepository
    name: infra
  dependsOn:
    - name: config
