---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: storage
  namespace: flux-system
spec:
  interval: 1h0m0s
  path: ./k8s/clusters/folly/storage
  prune: true
  sourceRef:
    kind: GitRepository
    name: infra

  dependsOn:
    - name: config
