name: nix-image-builder
on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to build'
        required: true
        type: choice
        options:
          - container
          - gce
          - iso
          - oldboy
          - cloudpi4
          - homepi4
          - weatherpi4
          - wsl
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ${{ contains(inputs.image, 'pi4') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: jonpulsifer
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          skipPush: ${{ github.ref != 'refs/heads/main' }}
      - run: nix build .#${{ inputs.image }}

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        if: ${{ inputs.image == 'gce' || inputs.image == 'oldboy' }}
        with:
          workload_identity_provider: 'projects/629296473058/locations/global/workloadIdentityPools/homelab/providers/github'
          project_id: homelab-ng

      - uses: google-github-actions/upload-cloud-storage@6397bd7208e18d13ba2619ee21b9873edc94427a # v3
        if: ${{ inputs.image == 'gce' || inputs.image == 'oldboy' }}
        with:
          path: result
          glob: "*.raw.tar.gz"
          destination: homelab-ng-free
          parent: false
          gzip: false

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: ${{ contains(inputs.image, 'pi4') }}
        with:
          name: ${{ inputs.image }}-sd-image
          path: result/sd-image/nixos-image-sd-card-*
          retention-days: 1
          compression-level: 0

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: ${{ inputs.image == 'iso' }}
        with:
          name: nixos-iso
          path: result/iso/nixos-*
          retention-days: 1
          compression-level: 0

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        if: ${{ inputs.image == 'container' }}
        with:
          name: pulse-container
          path: result
          retention-days: 1
          compression-level: 0