name: "Terraform"
on:
  push:
    branches:
      - main
    paths:
      - '**/*.tf'
  pull_request:
    paths:
      - '**/*.tf'
  workflow_dispatch:
    inputs:
      regenerate_docs:
        description: 'Regenerate documentation for all Terraform modules'
        required: true
        type: boolean
        default: true
      format_terraform:
        description: 'Format all Terraform files recursively'
        required: true
        type: boolean
        default: true

jobs:
  changed-directories:
    name: Get Changed Files
    runs-on: ubuntu-latest
    outputs:
      # Output a JSON string list of unique directories containing changed files matching the patterns
      directories: ${{ steps.changed-directories.outputs.all_changed_files }} 
      # Output 'true' or 'false' as a string
      any_changed: ${{ steps.changed-directories.outputs.any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Directories with Changes
        id: changed-directories
        uses: tj-actions/changed-files@v47
        with:
          dir_names: true
          matrix: true
          files: |
            **/*.tf
            **/.terraform.lock.hcl

  validate:
    needs: [changed-directories]
    runs-on: ubuntu-latest
    if: needs.changed-directories.outputs.any_changed == 'true'
    strategy:
      fail-fast: false # Keep running other matrix jobs even if one fails
      matrix:
        dir: ${{ fromJSON(needs.changed-directories.outputs.directories) }}
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform Init
        id: init
        run: terraform init -backend=false
      - name: Terraform Validate
        id: validate
        run: terraform validate

  format:
    needs: [changed-directories, validate]
    runs-on: ubuntu-latest
    # Run IF:
    # 1. It's a push to main AND there are changed terraform files
    # OR
    # 2. It's a manual dispatch AND the format_terraform input is true
    if: |
      always() && (
        (github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.changed-directories.outputs.any_changed == 'true') ||
        (github.event_name == 'workflow_dispatch' && github.event.inputs.format_terraform == 'true')
      )
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: main
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform fmt
        run: terraform fmt -recursive
      - name: Check for changes
        id: check-changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Commit changes
        if: steps.check-changes.outputs.changed == 'true'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add \*.tf
          git commit -m "style: format terraform files"
      - name: Push changes
        if: steps.check-changes.outputs.changed == 'true'
        run: git push

  docs:
    needs: [format]
    runs-on: ubuntu-latest
    # Run IF:
    # 1. It's a push to main AND there are changed terraform   files
    # OR
    # 2. It's a manual dispatch AND the regenerate_docs input is true
    if: |
      always() && (
        (github.event_name == 'push' && github.ref == 'refs/heads/main' && (needs.changed-directories.outputs.any_changed == 'true')) ||
        (github.event_name == 'workflow_dispatch' && github.event.inputs.regenerate_docs)
      )
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          find-dir: .
          git-push: true
          git-commit-message: "docs: regenerate terraform documentation"
