[Unit]
Description=Vector log shipper
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/vector --config /etc/vector/vector.yaml
Restart=always
User=vector
Group=vector

[Install]
WantedBy=multi-user.target
