---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argo
  namespace: argo
spec:
  chart:
    spec:
      chart: argo-cd
      version: 9.4.2
      sourceRef:
        kind: HelmRepository
        name: argo
        namespace: flux-system
  values:
    configs:
      redis.exporter.enabled: true
      params:
        server.insecure: true
      cm:
        accounts.atlantis: apiKey
      rbac:
        policy.csv: |
          p, role:atlantis, applicationsets, *, */*, allow
          p, role:atlantis, applications, *, */*, allow
          g, atlantis, role:atlantis
    server:
      ingress:
        enabled: true
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: sync
          cert-manager.io/cluster-issuer: ${CERT_CLUSTER_ISSUER}
        hostname: argo.${SECRET_DOMAIN}
        tls: true
